@import "tailwindcss";

@theme {
  --color-primary: #ec4899;
  --color-primary-hover: #db2777;
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-100 text-slate-900 antialiased selection:bg-pink-500 selection:text-white;
  }
  
  html {
    scroll-behavior: smooth;
  }
}
