@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-dark: #8c1ae6;
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-primary selection:text-white dark:bg-slate-950 dark:text-slate-50;
  }
}
